// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
$c-brand-navy: #2c3e50;
$c-brand-white: #ecf0f1;
$c-brand-dark-gray: #3b3b3b;
$c-black: #000;
$c-jamaica1: #1160b3;
$c-brand-font-reg: 'Maven Pro', sans-serif;
$c-brand-font-special: 'Special Elite', sans-serif;
$c-brand-modal-bg: rgba(0, 0, 0, 0.8);

$m-gutter: 1rem;
$m-container-width: 60rem;
$m-brand-border-radius: 0.4rem;

$b-brand-border: 1px solid #000;
@import 'box-sizing';
@import 'resets';

.nav {
  padding: 2rem;
  background: $c-brand-navy;
}

.logo {
  color: $c-brand-white;
  font-family: $c-brand-font-special;
  font-size: 2rem;
}

.section {
  padding: 1rem;
}

.container {
  width: 100%;
  max-width: $m-container-width;
  margin: 0 auto;
}

.stuff {
  display: flex;
}

.leftside {
  flex-basis: 25%;

  &__pic {
    position: relative;
    width: 100%;
    overflow: hidden;

    &::before {
      display: block;
      padding-top: 100%;
      content: '';
    }
  }

  &--pic {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    padding: 1rem 0;
    font-size: 1.25rem;
  }

  &__creator--heading {
    border-bottom: 0.05rem solid $c-black;
    font-family: $c-brand-font-special;
    font-size: 1.5rem;
  }
}

.rightside {
  flex-basis: 75%;
  margin: 0 1rem;
  padding: 0 1rem;
}

.characters {
  display: flex;
  margin: -1rem;

  &__words {
    border-bottom: 0.05rem solid $c-black;
    font-family: $c-brand-font-special;
    font-size: 2rem;
  }

  &__item {
    flex-basis: calc(100% / 4 - 1rem - 1rem);
    flex-grow: 1;
    margin: 1rem 0;
    padding: 1rem;

    &--pic {
      position: relative;
      width: 100%;
      overflow: hidden;

      &::before {
        display: block;
        padding-top: 100%;
        content: '';
      }
    }

    &--image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--name {
      margin: 1rem 0;
    }
  }
}

.comics {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;

  &__words {
    border-bottom: 0.05rem solid $c-black;
    font-family: $c-brand-font-special;
    font-size: 2rem;
  }

  &__item {
    flex-basis: calc(100% / 4 - 2rem);
    flex-grow: 1;
    margin: 1rem 0;
    padding: 1rem;

    &--number {
      margin: 1rem 0;
    }

    &--name {
      margin-bottom: 1rem;
    }

    &--pic {
      position: relative;
      width: 100%;
      overflow: hidden;

      &::before {
        display: block;
        padding-top: 100%;
        content: '';
      }
    }

    &--image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__read {
    width: 100%;
    padding: 0.5rem;
    border-style: none;
    border-radius: 5%;
    outline: none;
    background: $c-brand-navy;
    color: $c-brand-white;
  }
}

.modal {
  display: flex;
  padding: 2rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;


  &__card {
    background: #fff;
    padding: 1rem;
  }
}
