// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
$c-brand-navy: #2c3e50;
$c-brand-white: #ecf0f1;
$c-brand-dark-gray: #3b3b3b;
$c-black: #000;
$c-jamaica1: #d5a0ee;
$c-jamaica2: #1160b3;
$c-jamaica3: #bcfb1a;
$c-brand-font-reg: 'Maven Pro', sans-serif;
$c-brand-font-special: 'Special Elite', sans-serif;
$c-brand-modal-bg: rgba(0, 0, 0, 0.8);

$m-gutter: 1rem;
$m-container-width: 60rem;
$m-brand-border-radius: 0.4rem;

$b-brand-border: 1px solid #000;
@import 'box-sizing';
@import 'resets';

.nav {
  padding: 2rem;
  background: $c-brand-navy;
  color: $c-brand-white;
  font-family: $c-brand-font-special;
  font-size: 2rem;
}

.section {
  padding: 1rem;
}

.container {
  width: 100%;
  max-width: 65rem;
  margin: 0 auto;
}

.stuff {
  display: flex;
}

.leftside {
  max-width: 20rem;

  &__pic {
    max-width: 20rem;
  }

  &__title {
    padding: 1rem 0;
    font-size: 1.5rem;
  }

  &__creator--heading {
    border-bottom: 0.05rem solid $c-black;
    font-family: $c-brand-font-special;
    font-size: 1.5rem;
  }
}

.rightside {
  margin: 1rem;
}

.characters {
  display: flex;

  &__words {
    border-bottom: 0.05rem solid $c-black;
    font-family: $c-brand-font-special;
    font-size: 2rem;
  }

  &__item {
    flex-basis: calc(100% / 4 - 1rem - 1rem);
    flex-grow: 1;
    margin: 1rem;

    &--pic {
      max-width: 10rem;
    }
  }
}

.comics {
  flex-basis: calc(100% / 4 - 1rem - 1rem);
  flex-grow: 1;
  margin: 1rem;

  &__words {
    border-bottom: 0.05rem solid $c-black;
    font-family: $c-brand-font-special;
    font-size: 2rem;
  }

  &__item--image {
    max-width: 10rem;
  }

  &__item--number {
    padding: 1rem 0;
  }

  &__read {
    margin: 0.5rem 0;
    border: 0;
    padding: 0.5rem;
    border-radius: 5%;
    outline: none;
    background: $c-brand-navy;
    color: $c-brand-white;
    text-decoration: none;
  }
}
